html {
	background-color: $white;
	color: $gray;
	font-size: $size-8;
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: url(../img/pattern.png) repeat;
}

main {
	flex: 1;
	margin: 80px 20px 0px 20px;
	display: flex;
	flex-direction: column;
}

footer {
	flex: 0;
	margin: 0;
	padding: 40px 0 20px 0;
	text-align: center;
}

// ---------------------------- Everything above this line is required for layout. 

header, main, footer {
	@include medium {
		padding-left: 240px;
	}
}

// .nav {
// 	@include medium {
// 		margin-left: 240px;
// 		width: calc(100% - 240px);
// 		padding-left: 240px;
// 	}
// }

a {
	color: $gray;
	&:hover {
		color: $gray-light;
	}
}

.button-primary {
	@include buttons($white, $green, $green, $green-dark);
}

.button-secondary {
	@include buttons($green, $white, $green, $transparent);
	&:hover {
		text-decoration: underline;
	}
}

.button-tertiary {
	@include buttons($gray, $transparent, $gray, $gray-lighter);
}

.button-quarternary {
	@include buttons($white, $orange, $orange, $orange-dark);
}

.button-quinary {
	@include buttons($white, $blue-royal, $blue-royal, $blue-royal-dark);
}

.button-senary {
	@include buttons($white, $gray-light, $gray, $gray-hover);
}

.button-septenary {
	@include buttons($white, $red, $red, $red-dark);
}

.card {
	@include card($gray, $white, $gray-lighter);
	height: 100%;
}

.illume-side {
	@include illume-side($gray, $charcoal-dark, $green);
	font-size: $size-7;
}

.dropdown-content {
	@include dropdown($white, $gray, $size-8, $gray, $gray-lightest);
}

#search {
	padding: 10px;
}

.user-widget {
	height: 60px;
	width: 280px;
	overflow: hidden;
	border-left: 1px solid $navy-dark;
	display: flex;
	align-items: center;
	&:hover {
		cursor: pointer;
		background-color: $navy-dark;
	}
	.user-widget-item {
		max-width: 150px;
		overflow: hidden;
		color: $white;
		flex-grow: 1;
		#user-avatar {
			border-radius: 50%;
			height: 45px;
			width: 45px;
		}
		#user-name {
			font-size: $size-8;
			text-align: left;
			display: block;
		}
		#user-role {
			color: $gray-light;
			font-size: $size-9;
			text-align: left;
			display: block;
		}
	}
}

.user-widget-link {
	&:hover {
		i {
			margin-left: 10px;
		}
	}
}

#user-avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#user-widget-dropdown {
	width: 280px;
	@include dropdown($navy, $white, $size-8, $white, $navy-dark);
	box-shadow: none;
}

.card-stack {
	// height: 100%;
}

.card-content-unused {
	background: url(../img/stripes.png) repeat;
	background-color: $gray-lightest;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.16);
    p {
    	padding: 20px;
    }
}

.deadline,
.event {
	display: flex;
	align-items: flex-start;
	padding: 10px 20px;
	border-bottom: 1px solid $gray-lighter;
	background-color: $white;
	&:last-child {
		// border: none;
		box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.16);
	}
	&:hover {
		background-color: $gray-lightest;
		cursor: pointer;
	}

	.deadline-icon,
	.event-icon {
		position: relative;
		border-radius: 50%;
		padding: 11px;
		height: 40px;
		width: 40px;
		margin-right: 15px;
		.deadline-svg,
		.event-svg {
			fill: $white;
		}
		.tooltip {
			visibility: hidden;
			position: absolute;
			z-index: 20000;
			top: 0;
			left: 50px;
			background-color: $charcoal-light;
			color: $white;
			padding: 5px;
			border-radius: 2px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			&::after {
				content: " ";
			    position: absolute;
			    top: 50%;
			    right: 100%; /* To the left of the tooltip */
			    margin-top: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent $charcoal-light transparent transparent;
			}
		}
		&:hover {
			cursor: help;
		}
		&:hover .tooltip {
			visibility: visible;
		}
	}
	.deadline-icon {
		background-color: $red;
	}
	.event-icon {
		background-color: $blue-royal;
	}
	.deadline-items,
	.event-items {
		font-size: $size-8;
		.deadline-title,
		.event-title {
			display: block;
			font-weight: $weight-bold;
		}
		.deadline-selected,
		.event-selected {
			display: block;
			font-size: $size-9;
		}
	}
}

.activity {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid $gray-lighter;
	padding: 10px 20px;
	&:last-child {
		border: none;
	}
	&:hover {
		background-color: $gray-lightest;
		cursor: pointer;		
	}
	img {
		margin-right: 15px;
		border-radius: 50%;
		height: 40px;
		width: 40px;
	}
}

.stat-group {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $gray-lighter;
	padding: 10px 20px;
	&:last-child {
		border: none;
	}
	.icon-column {

		height: 100%;
		.stat-icon {
			border-radius: 50%;
			padding: 11px;
			height: 40px;
			width: 40px;
			margin-right: 15px;
			background-color: $orange;
			.stat-svg {
				fill: $white;
			}
		}
	}
	.stats-column {
		width: 100%;
		display: inline-block;
		.group-title {
			font-weight: $weight-bold;
			color: $gray-copy;
		}
		.stat {
			width: 100%;
			margin-bottom: 10px;
			.stat-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				.stat-label {
					font-size: $size-9;
					width: 25%;
					margin-right: 10px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				.stat-value {
					position: relative;
					width: 20px;
					left: 5px;
					color: $white;
				}
				.stat-progress {
					appearance: none;
					border: none;
					border-radius: 2px;
					display: block;
					overflow: hidden;
					padding: 0;
					height: 25px;
					width: 75%;
					margin-left: -20px;
					background-color: $gray-lightest;
					&::-webkit-progress-bar {
						background-color: $white;
					}
					&::-webkit-progress-value {
						background-color: $teal;
					}
					&::-moz-progress-bar {
						background-color: $teal;
					}
					&::-ms-fill {
						background-color: $teal;
						border: none
					}
				}
			}
		}
	}
}

.page-action {
	text-decoration: none;
	font-size: $text;
	color: $gray;
	&:hover {
		color: $gray-light;
	}
	i {
		margin-right: 5px;
	}
	// &.active {
	// 	color: $charcoal-light;
	// }
}

.page-action-small {
	// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-decoration: none;
	width: 100%;
}

.heading {
	background-color: $green-light;
	color: $green;
	border-radius: 2px;
	padding: 2px 4px;
}


.border-left {
	@include wide {
		border-left: 1px solid $gray-lighter;
	}
}

.no-events,
.no-deadlines {
	display: none;
	padding: 10px;
}


#filter-button {
	@include medium {
		display: none;
	}
	// @include large {
	// 	display: none;
	// }
	// @include wide {
	// 	display: none;
	// }
}

// Filter dropdown
#filter-block {
	display: block;
	@include small {
		display: none;
		&.toggled {
			display: block;
		}
	}
}

.filters {
	padding-top: 10px;
}

.check-label {
	// font-size: $size-9;
}

// Jobs table stuff //
.table-action {
	display: none;
	@include small {
		display: block;
	}
}

// LISTED JOB STYLES //
.job-listed {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 10px 20px;
	border-bottom: 1px solid $gray-lighter;
	border-left-width: 6px;
	border-left-style: solid;
	color: $gray;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		background-color: $gray-lightest;
		cursor: pointer;
	}
	&.red {
		border-left-color: $red;
	}
	&.yellow {
		border-left-color: $orange;
	}
	&.yellow {
		border-left-color: $yellow;
	}
	&.green {
		border-left-color: $green;
	}
	&.gray {
		border-left-color: $gray-light;
	}
	.job-simple {
		font-weight: $weight-bold;
	}
	.job-image-column {
		display: flex;
		img {
			max-height: 55px;
			width: 55px;
			border-radius: 2px;
		}
	}
	.job-info-column {
		display: flex;
		align-items: flex-start;
		flex-direction: column; 
		margin-left: 20px;
		.job-listed-title {
			font-weight: $weight-bold;
		}
		.job-listed-state {
			// font-weight: $weight-bold;
			font-size: $size-9;
		}
		.job-listed-details {
			font-size: $size-9;
			color: $gray-light;
			.detail {
				display: inline-block;
				margin-right: 10px;
				i {
					font-weight: $weight-bold;
					margin-right: 4px;
				}
				&.tooltip {
					position: relative;
					display: inline-block;
					.tooltip-text {
						visibility: hidden;
						width: 120px;
						position: absolute;
						z-index: 20000;
						bottom: 120%;
						left: 50%;
						margin-left: -60px;
						background-color: $charcoal-light;
						color: $white;
						text-align: center;
						padding: 5px;
						border-radius: 2px;
						box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
						&::after {
							content: " ";
						    position: absolute;
						    top: 100%;
						    left: 50%;
						    margin-left: -5px;
						    border-width: 5px;
						    border-style: solid;
						    border-color: $charcoal-light transparent transparent transparent;
						}
					}
					&:hover {
						cursor: help;
					}
				}
				&:hover .tooltip-text {
					visibility: visible;
				}
			}
		}
	}
	.data {
		display: none;
	}
}

.job-separator {
	color: $gray-light;
}

.fit-contents {
	height: auto;
}

// INDIVIDUAL JOB STYLES //
.job-title {
	@include small {
		font-size: $size-9;
	}
}

.job-state {
	display: block;
	font-size: $size-7;
	text-align: center;
	padding-right: 15px;
	border-right: 1px solid $gray-lighter;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	.active-icon {
		display: inline-block;
		color: $green;
		font-size: $size-8;
	}
	.inactive-icon {
		display: inline-block;
		color: $gray;
		font-size: $size-8;
	}
	.closed-icon {
		display: inline-block;
		color: $orange;
		font-size: $size-8;
	}
	@include small {
		// display: none;
	}
}

.job-dropdown {
	margin-left: 5px;
}

.job-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 40px;
	.attribute-column {
		display: flex;
		flex-direction: column;
		padding: 0 10px 0 10px;
		@include small {
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
		}
		.attribute {
			display: flex;
			align-items: center;
			margin-top: 30px;
			@include small {
				width: 50%;
				flex-grow: 1;
			}
			.attribute-icon {
				background-color: $blue-royal;
				border-radius: 50%;
				padding: 11px;
				height: 40px;
				width: 40px;
				margin-right: 15px;
				.attribute-svg {
					fill: $white;
				}
			}
			.attribute-items {
				font-size: $size-8;
				.attribute-title {
					display: block;
					font-weight: $weight-bold;
				}
				.attribute-selected {
					display: block;
				}
			}
		}
	}
}

#edit-job-form {
	margin: -20px -10px -10px -10px;
}

#details-button {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	&:hover {
		background-color: $gray-lighter;
		cursor: pointer;
	}
}

#details-block {
	display: none;
	margin-bottom: 30px;
	&.toggled {
		display: block;
	}
	.details-options {
		display: flex;
		justify-content: flex-end;
		a {
			padding-left: 5px;
		}
	}
}

.detail-contents {
	p {
		margin-bottom: 5px;
	}
	ul {
		margin-bottom: 20px;
	}
}

#create-comment-form {
	margin-top: -10px;
}

// Note stuff
.note {
	padding: 10px 0;
	&:last-child {
		border-bottom: none;
	}
	.note-author {
		display: flex;
		align-items: center;
		img {
		margin-right: 10px;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		}
		span {
			// font-size: $size-9;
		}
	}
	.note-content {
		blockquote {
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 10px;
			border-left: 2px solid $gray-lighter;
			border-radius: 2px;
			background-color: $gray-lightest;
		}
	}
}

.note-action {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	&:first-child {
		margin-left: 15px;
	}
}

.modal-header {
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: -10px;
	margin-right: -20px;
	margin-bottom: 20px;
	margin-left: -20px;
	border-bottom: 2px solid $gray-lighter;
	.modal-title {
		font-size: $size-8;
		font-weight: $weight-strong;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

//Trophy Stuff
.img-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	padding: 10px;
	margin: auto;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	z-index: 0;
	.trophy-holder {
		color: $white;
		font-size: $size-7;
		font-weight: $weight-bold;
		z-index: 2;
	}
	.banner-container {
		position: absolute;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			width: 40px;
			height: auto;
			top: 15px;
			left: 15px;
		}
	}
	.edit-icon {
		position: absolute;
		top: 5px;
		right: 15px;
		display: none;
		i {
			color: $blue-royal;
			&:hover {
				color: $blue-royal-hover;
				cursor: pointer;
			}
		}
	}
}

.trophy-title {
	display: inline-block;
	font-weight: $weight-strong;
	color: $gray-copy;
}

.trophy-description {
	display: inline-block;
	font-size: $size-9;
}

// Account Stuff
.filled {
	width: 100%;
	padding: 8px;
	background-color: $gray-lightest;
	border-radius: 2px;
	border-left: 2px solid $gray-lighter;
}

.one-to-one-container {
	position: relative;
	width: 100%;
	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	.one-to-one-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.avatar-preview {
	padding: 20px;
	img {
		min-width: 100%;
		height: 100%;
		border-radius: 50%;
	}	
}


// Rando stuff
.dropdown-left {
	right: 0;
}

.dropdown-link,
.note-action,
td {
	.fa-pencil {
		color: $blue-royal;
		&:hover {
			color: $blue-royal-hover;
		}
	}
	.fa-trash {
		color: $red;
		&:hover {
			color: $red-hover;
		}
	}
	.fa-circle-o {
		color: $orange;
		&:hover {
			color: $orange-hover;
		}
	}
	.fa-adjust {
		color: $yellow;
		&:hover {
			color: $yellow-hover;
		}
	}
	.fa-plus {
		color: $blue-royal;
		&:hover {
			color: $blue-royal-hover;
		}
	}
	.fa-comment {
		color: $orange;
		&:hover {
			color: $orange-hover;
		}
	}
	.fa-print {
		color: $purple;
		&:hover {
			color: $purple-hover;
		}
	}
}

#deadline {
	cursor: pointer;
}

#schedule-container {
	margin-bottom: -20px;
}

#schedule-column {
	padding-bottom: 10px;
}

#schedule-widget {
	padding-top: 10px;
	padding-bottom: 10px;
}