/*/////////////////////////////////////////
// ----------- Breadcrumbs ------------- //
/////////////////////////////////////////*/

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	.crumb {
		display: inline-block;
		font-size: $size-6; 
		color: $gray;
		text-decoration: none;
		line-height: 28px;
		&:not(:first-child) {
			padding-left: 10px;
		}
		&:not(:last-child):after {
			content: "\f054";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			font-size: $size-8;
			padding-left: 10px;
		}
		&:last-child {
			color: $charcoal-light;
			height: 31px;
		}
		@include small {
			font-size: $size-7;
		}
	}
}