/*/////////////////////////////////////////
// -------------- Columns -------------- //
/////////////////////////////////////////*/

.row {
	display: flex;
	justify-content: flex-start;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	&:last-child {
		margin-bottom: -10px;
	}
	&:not(:last-child) {
		margin-bottom: 10px; 
	}
	&.wrappable {
		flex-wrap: wrap;
	}
	&.wrappable-reverse {
		flex-wrap: wrap-reverse;
	}
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 10px;
	@include small {
		@for $i from 1 through 12 {
			&.small-#{$i} {
				flex: none;
				width: ($i / 12) * 100%;
			}
		}
		@for $i from 1 through 12 {
			&.offset-small-#{$i} {
				margin-left: ($i / 12) * 100%;
			}
		}
	}
	@include medium {
		@for $i from 1 through 12 {
			&.medium-#{$i} {
				flex: none;
				width: ($i / 12) * 100%;
			}
		}
		@for $i from 1 through 12 {
			&.offset-medium-#{$i} {
				margin-left: ($i / 12) * 100%;
			}
		}
	}
	@include large {
		@for $i from 1 through 12 {
			&.large-#{$i} {
				flex: none;
				width: ($i / 12) * 100%;
			}
		}
		@for $i from 1 through 12 {
			&.offset-large-#{$i} {
				margin-left: ($i / 12) * 100%;
			}
		}
	}
	@include wide {
		@for $i from 1 through 12 {
			&.wide-#{$i} {
				flex: none;
				width: ($i / 12) * 100%;
			}
		}
		@for $i from 1 through 12 {
			&.offset-wide-#{$i} {
				margin-left: ($i / 12) * 100%;
			}
		}
	}
}