/*/////////////////////////////////////////
// ------------ Dropdowns -------------- //
/////////////////////////////////////////*/

.dropdown {
	cursor: pointer;
	position: relative;
	display: inline-block;
	.dropdown-toggle {
		&.button-primary,
		&.button-secondary,
		&.button-tertiary {
			display: inline-block;
			i {
				display: inline-block;
			}
		}
	}
	.dropdown-content {
		display: none;
		position: absolute;
		z-index: 20000;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		a {
			display: block;
			padding: 10px;
			text-decoration: none;
			text-align: left;
			line-height: 22px;
			white-space: nowrap;
			i {
				margin-right: 10px;
			}
		}
	}
	.toggled {
		display: block;
	}
}

