/*/////////////////////////////////////////
// -------------- Modals --------------- //
/////////////////////////////////////////*/

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100000;
	padding-left: 240px;
	&.toggled {
		display: flex;
	}
	@include small {
		padding-left: 0;
	}
}

.modal-background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.6);
}

.modal-container {
	margin: 0;
	position: relative;
	@include small {
		width: 90%;
	}
	@include medium {
		width: 90%;                 
	}
	@include large {
		width: 70%;
	}
	@include wide {
		width: 50%;
	}
}

.modal-content {
	background-color: $white;
	// border-bottom: 20px solid $white;
	// padding: 20px;
	margin: 0;
	max-height: 85vh;
	overflow: auto;
	border-radius: 2px;
	@include small {
		margin: 0 5px;
		max-height: 80vh;
	}
}

.modal-close {
	display: block;
	position: absolute;
	top: 0;
	right: -30px;
	color: $white;
	&:hover {
		cursor: pointer;
		color: $white-hover;
	}
	@include small {
		display: none;
	}
}

.modal-active {
	overflow: hidden;
	padding-right: 17px;
}