/*/////////////////////////////////////////
// ------------ Typography ------------- //
/////////////////////////////////////////*/

html, body {
	font-family: $family-copy;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $family-headings;
	font-weight: $weight-normal;
}

h1 {
	font-size: $size-1;
}

h2 {
	font-size: $size-2;
}

h3 {
	font-size: $size-3;
}

h4 {
	font-size: $size-4;
}

h5 {
	font-size: $size-5;
}

h6 {
	font-size: $size-6;
}

p {
	font-size: $size-8;
	line-height: 1.8;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	list-style-type: disc;
	li 	{
		margin-left: 20px;
	}
}

blockquote {
	display: block;
	font-size: $size-8;
	// font-style: italic;
	margin-left: 35px;
	// margin-right: 20%;
	margin-bottom: 20px;
	// border-left: 2px solid;
	padding: 5px;
	@include small {
		// margin-right: 10%;
		// margin-left: 10%;
	}
	p {
		margin-bottom: 0;
	}
	.quoted {
		display: flex;
		margin-top: 5px;
		justify-content: flex-end;
		font-weight: $weight-strong;
	}
}

pre,
code	{
	font-family: $family-code;
}

code {
	background-color: $gray-lightest;
	color: $gray;
	font-size: $size-8;
	padding: 2px 5px;
}

.strong {
	color: $black;
}